[Desktop Entry]
Name=NordicStory
X-KDE-PluginInfo-Author=tommy-koan
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=tommy@koanlabs.us
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=NordicStory
X-KDE-PluginInfo-Version=1.0.0
